Listen {{ httpd_port }}
<VirtualHost *:{{ httpd_port }}>

  ServerName {{ server_shortname }}.library.ucla.edu

  ErrorLog /var/log/httpd/netdata/error_log
  CustomLog /var/log/httpd/netdata/access_log combined

  HostnameLookups Off

  UseCanonicalName On

  RewriteEngine On
  ProxyRequests Off
  ProxyPreserveHost On

  <Proxy *>
      Require all granted
  </Proxy>

  ProxyPass "/" "http://localhost:19999/" connectiontimeout=5 timeout=30 keepalive=on
  ProxyPassReverse "/" "http://localhost:19999/"

{% if netdata_ssl_config == "yes" %}
  SSLEngine on
{% if certbot_certificates is defined %}
  SSLCertificateFile      {{ certbot_baseconfig_path }}/live/{{ (certbot_certificates|list)[0] }}/cert.pem
  SSLCertificateChainFile {{ certbot_baseconfig_path }}/live/{{ (certbot_certificates|list)[0] }}/chain.pem
  SSLCertificateKeyFile   {{ certbot_baseconfig_path }}/live/{{ (certbot_certificates|list)[0] }}/privkey.pem
{% else %}
  SSLCertificateFile      /etc/pki/tls/certs/{{ server_shortname }}.library.ucla.edu_cert.cer
  SSLCertificateChainFile /etc/pki/tls/certs/{{ server_shortname }}.library.ucla.edu_interm.cer
  SSLCertificateKeyFile   /etc/pki/tls/private/{{ server_shortname }}.library.ucla.edu.key
{% endif %}
{% endif %}

</VirtualHost>
